<fieldset class="border-0">
  <legend>
    Acceptance
  </legend>
  <div class="mb-3">
    <%= f.check_box :acceptance, class: "form-check-input" %>
    <%= f.label " The field must be checked", class: "form-check-label" %>
  </div>
</fieldset>