<fieldset class="border-0">
  <legend>
    Confirmation
  </legend>
  <div class="mb-3">
    <%= f.check_box :confirmation, class: "form-check-input" %>
    <%= f.label " The field must be repeated in confirmation field", class: "form-check-label" %>
  </div>
</fieldset>