<fieldset class="border-0">
  <legend>
    Presence
  </legend>
  <div class="mb-3">
    <%= f.check_box :presence, class: "form-check-input" %>
    <%= f.label " The field must not empty", class: "form-check-label" %>
  </div>
</fieldset>