<fieldset class="border-0">
  <legend>
    Decimal Field
  </legend>

  <%= display_error_validations options %>

  <div class="mb-3">
      <%= f.label :step, class: "form-label" %>
      <%= f.number_field :step, class: "form-control", min: 0, step: 0.01, placeholder: "Step"%>
    </div>

</fieldset>
