<fieldset class="border-0">
  <legend>
    Rating Field
  </legend>

  <%= display_error_validations options %>

  <div class="mb-3">
    <p class="text-danger">
      Not Implemented yet
    </p>
  </div>

</fieldset>
