<div class="row gy-3">
  <div class="col-12 d-flex justify-content-between">
    <h2>New Field</h2>
    <%= link_to "Back", form_fields_path(@form), class: "btn btn-secondary"%>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <%= render "form", form: @form, field: @field %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
