<div data-behaviour="vue">
  <document-form-search url="<%= local_assigns[:url] || request.original_url %>" :params="<%= params.to_json %>" :criteria-template="<%= criteria_template.to_json %>" />
</div>
