<div class="row mb-3">
  <div class="col">
    <%= f.collection_check_boxes field.name, field.options.choices do |ff| %>
      <%= ff.check_box field.name, class: 'form-check-input', disabled: field.access_readonly? %>
      <%= ff.label field.label, class: "form-label" %>
    <% end %>
    <% if field.hint %>
    <span class="form-text">
      <%= field.hint %>
    </span>
    <% end %>
  </div>
</div>