<div class="row mb-3">
  <div class="col">
    <%= f.label field.label, class: "form-label" %>
    <%= f.select field.name, options_from_collection_for_select(field.collection, 'value', 'label', field.value), {include_blank: field.include_blank?, include_hidden: false}, id: field.id, class: "form-control option-select2", multiple: true, required: field.required, disabled: field.access_readonly?%>
    <% if field.hint %>
    <span class="form-text">
      <%= field.hint %>
    </span>
    <% end %>
  </div>
</div>